<menu>
    <Services>
        <Zapret VisibleName="Zapret DPI Bypass" cssClass="fa fa-shield" order="99">
            <General VisibleName="Strategy" url="/ui/zapret" order="0"/>
            <Diagnostics VisibleName="Laboratory" url="/ui/zapret/diagnostics" order="1"/>
        </Zapret>
    </Services>
</menu>
